.judgeview-main {
  background: linear-gradient(
    0.4turn,
    rgb(247, 130, 75),
    rgb(222, 152, 243),
    // white,
    rgb(35, 222, 247)
  );
  .judgeview-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    
    .judge-avatar-name {
      margin-top: 17px;
      margin-right: 17px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      
      span{
        color:lightblue;
      }
      h3 {
        margin-top: 0;
      }
      .judge-avatar {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        border: 1px solid white;
      }
      @media (max-width: 700px) {
        width: 370px;
        
      }
      
    }

    h3 {
      width: 350px;
      margin-top: 17px;
      color: white;
      text-shadow: 2px 2px 3px black;
      font-size: 28px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      word-spacing: 2px;
      
    }
    h5 {
      width: 350px;
      margin-top: 17px;
      color: white;
      text-shadow: 2px 2px 3px black;
      font-size: 25px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      word-spacing: 2px;
    }

    .meme-image-judgeview {
      border-radius: 20px;
      border: 6px solid white;
      box-shadow: 4px 3px 3px;
      height: auto;
      max-height: 500px;

      width: 600px;
      background-size: contain;
      margin-top: 20px;
      @media (max-width: 700px) {
        width: 370px;
        max-height: 330px;
      }
    }
    .card-container-judgeview {
      height: 300px;
      width: 400px;
      display: flex;
      margin-top: 20px;
    }
  }
}
