.playerview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .meme-image-playerview {
    height: auto;
    width: 220px;
  }
  .card-select {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-container {
    height: 300px;
    width: 400px;
    // border-style: solid 2px black;
    // background-color: rgba(160, 155, 155, 0.541);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    white-space: nowrap;
    
  }
}
