.landing {
  background: linear-gradient(
    0.4turn,
    rgb(247, 130, 75),
    rgb(222, 152, 243),
    // white,
    rgb(35, 222, 247)
  );
  // background-image: url("../Lobby/cool\ background.jpg");
  // background-image: url("./color\ background.jpg");
  // background-size: cover;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  .mute {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  img {
    height: 310px;
    margin: 25px;
    // border: 8px solid white;
    animation: fun3 2s ease-in-out 0.1s 1 backwards;
  }

  @keyframes fun3 {
    0% {
      height: 500px;
      width: auto;
      transform: translate(0px, 0px);
    }
    // 50% {
    //   height: 400px;
    //   width: auto;
    //   transform: translate(0px, 0px);
    // }
    100% {
      height: 310px;
      width: auto;
      transform: translate(0, 0);
    }
  }

  .landing-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button {
      height: 50px;
      width: 195px;
      border: 1px solid black;
      margin: 3px;

      text-shadow: 2px 2px 3px black;
      color: white;
      font-size: 22px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

      background-color: rgb(55, 17, 190);
      border-radius: 5px;
      animation: fun1 1s ease-in-out 0.3s 1 forwards;
      animation: fun2 1s ease-in-out 0.3s 1 backwards;
    }

    @keyframes fun1 {
      0% {
        height: 55px;
        width: 200px;
        transform: translate(0, 0);
      }
      50% {
        height: 40px;
        // width: 190px;
        transform: translate(0px, 30px);
      }
      100% {
        height: 25px;
        // width: 185px;
        transform: translate(0px, 0px);
      }
    }

    @keyframes fun2 {
      0% {
        height: 30px;
        // width: 185px;
        transform: translate(0px, 0px);
      }
      50% {
        height: 40px;
        // width: 190px;
        transform: translate(0px, 30px);
      }
      100% {
        height: 45px;
        // width: 200px;
        transform: translate(0, 0);
      }
    }
  }

  a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 3px black;
    font-size: 20px;
  }
  .instructions-btn {
    background-color: rgb(245, 163, 12);
    border-radius: 5px;
    color: rgb(99, 4, 4);
    word-spacing: 1px;
    // text-shadow: 2px 2px 3px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    height: 40px;
    width: 185px;
    border: 1px solid black;
    margin-top: 30px;
    font-size: 14px;
  }
}
