.creategame{
    background: blue;
    color: white;

    button {
        border: 1px solid black;
        margin-bottom: 20px;
        font-size: 15px;
    }
    .link {
        text-decoration: none;
    }
}