.join-game {
  background-color: red;
  height: 100vh;
  width: 100%;

  h1 {
    font-size: 36px;
    color: white;
    @media (max-width: 800px) {
      color: black;
    }
  }

  input {
    height: 40px;
    width: 200px;
  }
}
