.lobby{
    background: blue;
    color: white;

    button {
        border: 1px solid black;
        margin-bottom: 20px;
        font-size: 15px;
    }
    div {
        border: 1px solid black;
        height: 300px;
        width: 200px;
        margin: 0 auto;

    }
    .link {
        text-decoration: none;
    }
}