.lobby {
  background: linear-gradient(
    0.4turn,
    rgb(247, 130, 75),
    rgb(222, 152, 243),
    // white,
    rgb(35, 222, 247)
  );
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 3px 3px 4px black;
  // margin: 2px;
  .titles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    h1 {
      font-size: 76px;
      margin: 15px;
    }
  }
  h5 {
    font-size: 25px;
  }

  .lobby-inner {
    // background-image: url("./table3.jpg");
    background-color: rgba(56, 55, 55, 0.315);
    height: auto;
    width: 400px;
    border: 4px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media (max-width: 700px) {
      width: 340px;
    }

    font-size: 25px;
    .mapped-players {
      width: 250px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 20px;
      padding: 15px;

      .lobby-avatar {
        height: 65px;
        width: 65px;
        border-radius: 50%;
      }
    }

    div {
      // border: 1px solid black;
      height: 100px;
      width: 200px;
      margin: 0 auto;
    }
    .link {
      text-decoration: none;
    }
  }
  .start-game {
    border: 1px solid black;
    margin-bottom: 20px;

    height: 50px;
    width: 145px;
    margin-bottom: 23px;
    font-size: 19px;
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    // background-image: url("./cool\ background.jpg");
    background-color: rgb(55, 17, 190);

    border-radius: 5px;
    text-shadow: 3px 3px 4px black;

    &:hover {
      background-color: white;
      color: rgb(55, 17, 190);
      text-shadow: none;
      cursor: pointer;
    }
  }
}
